[Unit]
Description=Celery Web Worker
After=NetworkManager.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pdf
WorkingDirectory=/home/pdf/format-scan-pdf/webapp
ExecStart=gunicorn -w 4 -b 0.0.0.0:5000 'webapp:app'

[Install]
WantedBy=multi-user.target
